.c-flex {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*margin-top: 6rem;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.c-flex.is--hotandnew {
    padding-bottom: 3rem;
    border-bottom: 1px dashed rgba(158, 179, 190, .31);
}

.c-flex__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*width: 31%;*/
    min-height: 150px;
    padding: 0 10px;
    /*margin-top: 16px;*/
    /*margin-bottom: 32px;*/
    /*padding: 32px;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-bottom-style: none;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(45deg, transparent -1%, hsla(0, 0%, 100%, .17) 100%, #fff);
    background-image: linear-gradient(45deg, transparent -1%, hsla(0, 0%, 100%, .17) 100%, #fff);
    box-shadow: 0 18px 26px -4px hsla(0, 0%, 83%, .31);
    -webkit-transition: box-shadow 300ms ease-in-out, -webkit-transform 300ms cubic-bezier(.215, .61, .355, 1);
    transition: box-shadow 300ms ease-in-out, -webkit-transform 300ms cubic-bezier(.215, .61, .355, 1);
    transition: transform 300ms cubic-bezier(.215, .61, .355, 1), box-shadow 300ms ease-in-out;
    transition: transform 300ms cubic-bezier(.215, .61, .355, 1), box-shadow 300ms ease-in-out, -webkit-transform 300ms cubic-bezier(.215, .61, .355, 1);
    text-decoration: none;
}

.c-flex__item:hover {
    box-shadow: 0 18px 36px -4px hsla(0, 0%, 78%, .64);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.c-flex__item.is--abstract {
    background-color: #0f0f0f;
    color: #fff;
}

.c-flex__item.is--framer {
    background-color: #05f;
    color: #fff;
}

.c-flex__item.is--figma {
    background-color: #8420ff;
    color: #fff;
}

.c-flex__item.is--zeplin {
    background-color: #fcca32;
    color: #fff;
}

.c-flex__item.is--sketch {
    background-color: #fd9800;
    color: #fff;
}

.c-flex__item.is--invisionstudio {
    background-color: #f36;
    color: #fff;
}

.c-flex__item.is--adobexd {
    background-color: #ee36bb;
    color: #fff;
}

.c-flex__item.is--webflow {
    background-color: #4353ff;
    color: #fff;
}

.c-flex__item.is--addnew {
    min-height: 300px;
    padding: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-bottom-style: none;
}

.c-flex__item.is--flinto {
    background-color: #365a87;
    color: #fff;
}

.c-flex__item.is--atomic {
    background-color: #2962ff;
    color: #fff;
}

.c-flex__item.is--principle {
    background-color: #8e40c0;
    color: #fff;
}

.c-flex__item.is--overflow {
    background-color: #eaf4f4;
    color: #232d41;
}

.c-flex__item.is--plant {
    background-color: #50a6ff;
    color: #fff;
}

.c-flex__item.is--placeholder {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.c-flex__item.is--uxpin {
    background-color: #202020;
    color: #fff;
}

.c-flex__item.is--whimsical {
    background-color: #8f2be0;
    color: #fff;
}

.c-flex__item.is--pastel {
    background-color: #f9e492;
    color: #374654;
}

.c-flex__item.is--origami {
    background-color: #0288f6;
    color: #fff;
}

.c-flex__item.is--sip {
    background-color: #0052ff;
    color: #fff;
}

.c-flex__item.is--maze {
    background-color: #225cff;
    color: #fff;
}

.c-flex__item.is--phase {
    display: none;
    background-color: #252266;
    color: #fff;
}

.c-flex__item.is--realtime {
    background-color: #fe5;
    color: #181818;
}

.c-flex__item.is--kite {
    background-color: #12cc6d;
    color: #fff;
}

.c-flex__item.is--protoio {
    background-color: #00a1c0;
    color: #fff;
}

.c-flex__item.is--avocode {
    background-color: #00bc87;
    color: #fff;
}

.c-flex__item.is--phase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #5b53ff;
    color: #fff;
}

.c-flex__item.is--protopie {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #ff7472;
    color: #fff;
}

.c-flex__item.is--lookback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #ed213e;
    color: #fff;
}

.c-flex__item.is--marvel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #1fb6ff;
    color: #fff;
}

.c-flex__item.is--contrast {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #0fb;
    color: #112;
}

.c-flex__item.is--moqups {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #2c6cdd;
    color: #fff;
}

.c-newkidintown {
    position: absolute;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -7px;
    margin-right: -6px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    font-family: Graphik, sans-serif;
    color: #ff7262;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.c-brandnew__icon {
    margin-right: 6px;
    margin-bottom: 3px;
}

.c-tool-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-top: -26px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
}

.c-tool-link {

    position: absolute;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-style: none;
}

.ui.secondary.menu .item, .ui.secondary.menu .active.item {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.borderless {
    border: none;
    box-shadow: none;
}

.c-tool-link-translate {
    transform: translate3d(-48px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 0;
    transform-style: preserve-3d;

}